.popupWindow {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: pink;
    background-color: red;
  }
  .closeButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeButton:hover,
  .closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #PlayerMenu{
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: pink;
    background-color: red;
  }
  #closePlayerMenu:hover,
  #closePlayerMenu:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #closePlayerMenu{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  #startMenuName{
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 85%;
    height: 85%;
    overflow: auto;
    background-color: pink;
    background-color: red;
  }
  .popupWindowShown{
    display: block;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 85%;
    height: 85%;
    overflow: auto;
    background-color: lightblue;
    background-color: lightblue;
  }
  .player{
    display: inline-block;
    width: 150px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue; 
    background-color: yellow; 
  }